body {
    background: #f2f2f2;
}
.calendar-container, .table-container {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}
.calendar-label, .table-label {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}
.table-header{
    background: #007bff;
    color: white;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid black;
}
th {
    background-color: #f2f2f2;
    text-align: center;
}
.manage-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.manage-button:hover {
    background-color: #0056b3;
}
.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
}
.calendar-day {
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
}
.calendar-day-header {
    font-weight: bold;
    text-align: center;
}
.assignment {
    background-color: #007bff;
    color: white;
    padding: 5px;
    border-radius: 3px;
    margin-top: 5px;
}